
.menu-title {
    margin-top: 4.5vh;
    color:#ffffff; 
}

.dnaDiv {
    position: absolute;
    left:15%;
    bottom: 22%;

}

.navbar {
    box-shadow: 0px 0px 11px -4px #444444;
}

.frontend {
    height: 90vh;
    padding-top: 105px;    
    background: url('../images/banner.png') no-repeat;
    background-size: cover;
    background-position:bottom;
}


.header {
    height: 30vh;
    padding-top: 105px;    
    margin-top: 15px;
    background: url('../images/banner.png') no-repeat;
    background-size: cover;
    background-position:center;
}

.catHeader {
    height: 45vh;
    padding-top: 105px;
    margin-top: 11vh;
    border-radius: 8px;
    margin-left: 1%;
    margin-right: 1%;    
    background: #607d8b;     
}

#singleCat {
    padding-left: 22vw;
}

.navbar-brand {
    font-weight: 700;
}

.nav-link {
    padding: 17px 55px;
    margin-right: 25px;    
    white-space: nowrap;
}

.nav-link b {
    color:#000000;
    transition: 0.3s ease-in;
}

.nav-link b:hover {
    color: #ed5b0d;
}

.catGroup { 
    margin-top: 120px;
    width: 50%;    
}

#canvas {
    position: absolute;
}

.banner {
    background-color: rgba(161, 36, 7, 0.8);
    margin-top: -30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;    
    width: 82%;
    text-align: center;
    position: relative;    
}

.middleBox {
    margin-top: 80px;
    margin-bottom: 120px;
}

#breed {
    filter: grayscale();    
}

.breedBox {
    margin-top: 15vh;
    margin-bottom: 120px;
}

.breedSelect {
    margin-bottom: 50px;
    min-height: 5vh;
    padding-left: 5vw;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 4vh;
    background: #F8F8F8;
}

.featureBox {

    padding-left:30px;
    padding-right:30px;
    padding-top: 70px;
    padding-bottom: 70px;
    border: 1px solid #ffdbdb;
    border-radius: 10px;
    margin:10px;
    transition: 0.8s ease-in-out;
    box-shadow: 0px 1px 7px -2px #444444;
}

.featureBox h4 {
    font-weight: 600;
} 

.featureBox:hover {
    border: 1px solid #ffffff;
    box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
}


.catDiv {
    padding-top: 50px;
    padding-bottom: 140px;
    width: fit-content;
}

.egg {
    width: 150px;
    height: 150px;
    background: url('../images/egg.png') no-repeat;
    background-size: contain;
}

/* BUTTONS */

.red-btn {
    background-image: -webkit-linear-gradient(0deg, #f14437 0%, #ed5b0d 99%);
    color: #ffffff;
    border-radius: 30px;
    padding: 17px 55px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .red-btn:hover {
    background-color: #cc3737;
    color: #ffffff;
  }
  
 .white-btn {
    background: #ffffff;    
    border-radius: 30px;
    padding: 17px 3vw;
    font-weight: 600;
    letter-spacing: 1px;
 } 


 .animation-wrapper {
     position: fixed;
 }

.particle,
.particle:after {
	background: transparent;
}

.particle:after {
	position: absolute;
	content: "";
	top: 2560px;
}