/build
build/contracts/IERC721.json
build/contracts/*
build/contracts/IERC721Receiver.json
build/contracts/Kittycontract.json
build/contracts/KittyMarketPlace.json
build/contracts/Migrations.json
build/contracts/Ownable.json
